<template>
<div class="card card-body bg-light">
	<div class="card-block">
		<div class="row align-items-end mb-2">
			<div class="col-md">
				<h3>{{header}}</h3>
			</div>
			<div class="col-md-3">
				<button class="btn btn-primary btn-sm" @click="add(name)"><i class="fas fa-plus fa-sm"></i></button>
			</div>
		</div>
		<slot name="list" :type="name"></slot>
		<br>
		<div class="row">
			<div class="col-md">
				<slot name="slider"></slot>
			</div>
		</div>
	</div>
</div>
</template>

<script>
export default {
	name: "CardGroup",
	data: function () {
		return {
		};
	},
	computed: {
		header: function () {
			return this.name.charAt(0).toUpperCase() + this.name.slice(1);
		}
	},
	props: {
		name: String
	},
	methods: {
		add: function (name) {
			this.$emit("add", name);
		}
	}
};
</script>

<style lang="scss" scoped>
button {
	white-space: normal;
}
</style>