<template>
<div slot="rating" class="input-group input-group-sm">
	<div class="input-group-prepend">
		<label class="input-group-text">CR</label>
	</div>
	<select class="custom-select custom-select-sm" v-model="character.cr">
		<option value="0">0</option>
		<option value="1/8">1/8</option>
		<option value="1/4">1/4</option>
		<option value="1/2">1/2</option>
		<option v-for="(xp, cr) in crLookup" v-if="filter(cr)" :key="cr" :value="cr">
			{{cr}}
		</option>
	</select>
</div>
</template>

<script>
import encounter from "../encounter.js";

export default {
	name: "CrSelector",
	data: function () {
		return {
			crLookup: encounter.crLookup
		};
	},
	props: {
		character: Object
	},
	methods: {
		filter: function (cr) {
			switch (cr) {
			case "0":
			case "1/8":
			case "1/4": 
			case "1/2": 
				return false;
			default:
				return true;
			}
		}
	}
};
</script>

<style lang="scss">
</style>
