<template>
<div>
	<div class="row">
		<div class="col-md mb-3">
			<h3 :style="status">Encounter XP: {{encounterXP | nullify}}</h3>
		</div>
	</div>
	<div class="row align-items-begin">
		<div class="col-md-9 mb-5 ml-2">
			<slider slider-id="encounter-slider" :slider-config="config" :slider-value.sync="diff"></slider>
		</div>
		<div class="col-md">
			<button class="btn btn-info btn-sm">Generate</button>
		</div>
		<!--
		<div class="col-md col-md-offset">
			<h4 :style="status">{{diff[0] | integerify}}</h4>
		</div>
		-->
	</div>
</div>
</template>

<script>
import encounter from "../encounter.js";
import Slider from "./Slider.vue";

export default {
	name: "EncounterSlider",
	components: {
		Slider
	},
	data: function () {
		return {
			diff: [0],
			status: {
				color: "#000000"
			}
		};
	},
	computed: {
		party: function () {
			return encounter.party(this.players, this.allies);
		},
		thresholds: function () {
			return encounter.thresholds(this.party);
		},
		encounterXP: function () {
			var xp = encounter.encounterXP(this.party, this.monsters);
			this.status.color = encounter.getStatusColor(xp, this.thresholds);
			return xp;
		},
		steps: function () {
			return encounter.steps(this.party);
		},
		config: function () {
			var rangeSteps = {};
			for (var i in this.thresholds) {
				i = Number.parseInt(i);
				var key = ((this.thresholds[i] - this.thresholds[0]) / 
					(this.thresholds[3] - this.thresholds[0]) * 100).toFixed(0) + "%";
				if (key == "0%") {
					key = "min";
				}
				else if (key == "100%") {
					key = "max";
				}

				rangeSteps[key] = [this.thresholds[i]];
				var steps = 0;
				switch (i) {
				case 0: 
				case 1:
					steps = stepVal(i, 2, this);
					rangeSteps[key].push(steps);
					break;
				case 2:
					steps = stepVal(i, 3, this);
					rangeSteps[key].push(steps);
					break;
				case 3:
					break;
				}
			}
			
			return {
				range: rangeSteps,
				pips: {
					mode: "values",
					values: this.steps,
					density: 3,
					stepped: true,
					filter: function (val) {
						for (var i in this.thresholds) {
							if (val == this.thresholds[i]) {
								return 1;
							}
						}
						return 2;
					}.bind(this)
				}
			};
			function stepVal(i, split, call) {
				var num = (call.thresholds[i + 1] - call.thresholds[i]) / split;
				return Number.parseInt(num);
			}
		}
	},
	filters: {
		nullify: function (val) {
			if (val == null || isNaN(val)) {
				return 0;
			}
			return val;
		}
	},
	props: {
		players: Array,
		allies: Array,
		monsters: Array
	},
	watch: {
		diff: function (val) {
			var num = Number.parseInt(val);
			var color = encounter.getStatusColor(num, this.thresholds);
			var base = document.getElementById("encounter-slider");
			base.style.backgroundColor = color;
		}
	},
	methods: {
		
	},
	created: function () {
		this.diff = [this.thresholds[0]];
	}
};
</script>

<style lang="scss">
</style>
