<template>
	<div class="row mb-2">
		<div class="col-lg-4">
			<slot name="rating" :character.sync="character"></slot>
		</div>
		<div class="col-lg-5">
			<div class="input-group input-group-sm">
				<div class="input-group-prepend">
					<label class="input-group-text">Number</label>
				</div>
				<input class="form-control" onclick="this.select()" type="number" v-model.number="character.number">
				<div class="input-group-append">
					<button class="btn btn-sm btn-outline-primary" @click="increase"><i class="fas fa-plus fa-sm"></i></button>
					<button class="btn btn-sm btn-outline-primary" @click="decrease"><i class="fas fa-minus fa-sm"></i></button>
				</div>
			</div>
		</div>
		<div class="col-lg-1 col-lg-offset">
			<button v-if="index != 0" class="btn btn-sm btn-danger" @click="remove(type, index)"><i class="fas fa-times fa-sm"></i></button>
		</div>
  	</div>
</template>

<script>
export default {
	name: "InputBase",
	props: {
		character: Object,
		index: Number,
		type: String
	},
	methods: {
		increase: function () {
			this.character.number++;
		},
		decrease: function () {
			if (this.character.number >= 1) {
				this.character.number--;
			}
		},
		remove: function (type, i) {
			this.$emit("remove", {type, i});
		}
	}
};
</script>

