<template>
<div slot="rating" class="input-group input-group-sm">
	<div class="input-group-prepend">
		<label class="input-group-text">Level</label>
	</div>
	<select class="custom-select custom-select-sm" v-model.number="character.level">
		<option v-for="n in 20" :key="n" :value="n">
			{{n}}
		</option>
	</select>
</div>
</template>

<script>
export default {
	name: "LevelSelector",
	props: {
		character: Object
	}
};
</script>

<style lang="scss">
</style>
