<template>
<div class="modal fade" :id="modalId" tabindex="-1" role="dialog" :aria-labelledby="modalId" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Save Party</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h6>Are you sure you want to overwrite your previous party?</h6>
				<!--
				<br>
				<h6>Players</h6>
				<ul v-for="(player, index) in party.players" :key="index">
					<li>Level: {{player.level}}, Number: {{player.number}}</li>
				</ul>
				<h6>Allies</h6>
				<ul v-for="(ally, index) in party.allies" :key="index">
					<li>CR: {{ally.cr}}, Number: {{ally.number}}</li>
				</ul>
				-->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button @click="save" type="button" class="btn btn-success" data-dismiss="modal">Overwrite</button>
			</div>
		</div>
	</div>
</div>
</template>

<script>
export default {
	name: "SaveModal",
	props: {
		modalId: String,
	},
	methods: {
		save: function () {
			this.$emit("save");
		}
	}
};
</script>
