<template>
<div :id="sliderId"></div>
</template>

<script>
var noUiSlider = require("nouislider");

export default {
	name: "Slider",
	props: {
		sliderId: {
			type: String,
			default: function () {
				return "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx"
				.replace(/[xy]/g, function (c) {
					var r = Math.random() * 16 | 0;
					var v = c == "x" ? r : (r & 0x3 | 0x8);
					return v.toString(16);
				});
			}
		},
		sliderConfig: Object,
		sliderValue: {
			type: Array,
			twoway: true
		}
	},
	data: function () {
		return {
			slider: null
		};
	},
	watch: {
		sliderConfig: function () {
			this.slider.noUiSlider.destroy();
			this.createSlider();
		}
	},
	methods: {
		updateValue: function (value, handle) {
			//debugger;
			//this.sliderValue[handle] = value[handle];
			this.$set(this.sliderValue, handle, value[handle]);
		},
		checkForInputs: function () {
			var that = this;
			var i = 0;
			var numValues = this.sliderValue.length;

			this.sliderValue.forEach(function () {
				if (document.getElementById(that.sliderId + "-input-" + i)) {
					var arrayKey = i;
					var valueArray = Array.apply(null, Array(numValues))
					.map(function () {});

					document.getElementById(that.sliderId + "-input-" + i).addEventListener("change", function () {
						valueArray[arrayKey] = this.value;
						that.slider.noUiSlider.set(valueArray);
					});
				}
				i++;
			});
		},
		createSlider: function () {
			this.slider = document.getElementById(this.sliderId);
			this.sliderConfig.start = this.sliderValue;
			noUiSlider.create(this.slider, this.sliderConfig);
			this.slider.noUiSlider.on("update", this.updateValue);
			this.checkForInputs();
		}
	},
	mounted: function () {
		this.$nextTick(function () {
			this.createSlider();
		}.bind(this));
	}
};
</script>

<style scoped>
@import "dist/nouislider.min.css";
@import "node_modules/nouislider/distribute/nouislider.min.css";
</style>
