<template>
  <div id="app">
  <!--<hello></hello>-->
	<div class="container-fluid">
	  	<div class="row mt-3 mb-3">
			<div class="col-md">
				<div class="card card-body bg-light">
					<div class="row align-items-center mb-3">
						<div class="col-md-8 col-md-offset">
							<h1>Party</h1>
						</div>
						<div class="col-md-2">
							<button class="btn btn-dark btn" data-toggle="modal" data-target="#save-modal"><i class="fas fa-save"></i> Save</button>
						</div>
						<div class="col-md-2">
							<button class="btn btn-dark btn" @click="load"><i class="fas fa-folder"></i> Load</button>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-md">
							<card-group name="players" @add="add">
								<div slot="list" slot-scope="base">
									<div v-for="(player, index) in players" :key="index">
										<input-base :type="base.type" :character.sync="player" :index="index" @remove="remove">
											<level-selector slot="rating" slot-scope="rate" :character="rate.character">
											</level-selector>
										</input-base>
									</div>
								</div>
							</card-group>
						</div>
					</div>
					<div class="row">
						<div class="col-md">
							<card-group name="allies" @add="add">
								<div slot="list" slot-scope="base">
									<div v-for="(ally, index) in allies" :key="index">
										<input-base :type="base.type" :character.sync="ally" :index="index" @remove="remove">
											<cr-selector slot="rating" slot-scope="rate" :character="rate.character"></cr-selector>
										</input-base>
									</div>
								</div>
							</card-group>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md">
				<card-group name="monsters" @add="add">
					<div slot="list" slot-scope="base">
						<div v-for="(monster, index) in monsters" :key="index">
							<input-base :type="base.type" :character.sync="monster" :index="index" @remove="remove">
								<cr-selector slot="rating" slot-scope="rate"
								:character="rate.character"></cr-selector>
							</input-base>
						</div>
					</div>
					<encounter-slider slot="slider" :players="players" :allies="allies" :monsters="monsters"></encounter-slider>
				</card-group>
			</div>
		</div>
	</div>
	<save-modal @save="save" modal-id="save-modal" :players="players" :allies="allies"></save-modal>
  </div>
</template>

<script>
import InputBase from "./components/InputBase.vue";
import CardGroup from "./components/CardGroup.vue";
import LevelSelector from "./components/LevelSelector.vue";
import CrSelector from "./components/CrSelector.vue";
import EncounterSlider from "./components/EncounterSlider.vue";
import SaveModal from "./components/SaveModal.vue";

module.exports = {
	name: "app",
	components: {
		InputBase,
		CardGroup,
		LevelSelector,
		CrSelector,
		EncounterSlider,
		SaveModal
	},
	data: function () {
		return {
			players: [{level: 1, number: 1}],
			allies: [{cr: 0, number: 0}],
			monsters: [{cr: 0, number: 0}]
		};
	},
	methods: {
		remove: function (val) {
			this[val.type].splice(val.i, 1);
		},
		add: function (name) {
			switch (name) {
			case "players":
				this.players.push({level: 1, number: 1});
				break;
			case "monsters":
				this.monsters.push({cr: "0", number: 1});
				break;
			
			case "allies": 
				this.allies.push({cr: "0", number: 1});
				break;
			}
		},
		save: function () {
			var json = {
				players: this.players,
				allies: this.allies
			};
			localStorage.setItem("profile", JSON.stringify(json));
		},
		load: function () {
			var saved = localStorage.getItem("profile");
			if (saved) {
				var json = JSON.parse(saved);
				this.players = json.players;
				this.allies = json.allies;
			}
		}
	}
};
</script>

<style lang="scss">
.btn:focus, .btn:active {
	outline: none !important;
	box-shadow: none !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
</style>

